[submodule "WeatherApp/node_modules/.cache/gh-pages/https!github.com!nebyouYohannes!WeatherApp.git"]
    path= WeatherApp/node_modules/.cache/gh-pages/https!github.com!nebyouYohannes!WeatherApp.git
    url = https://github.com/nebyouYohannes/WeatherApp.git